
#nav {
    background:$common-white;
  }
  #nav #nav-menu ul li a {
    color: $text-color;
    font-family: '$primary-font';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    transition: .5s;

  }
  #nav #nav-menu ul li a:hover {
    color: $primary-color-1;
   
  }
  #nav-icon{
    position: relative;
  }

  #nav #nav-icon ul li a {
    color: $text-color;
    font-family: '$primary-font';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    transition: .5s;

  }
  #nav #nav-icon ul li a:hover {
    color: $primary-color-1;
   
  }
  #nav #nav-icon ul li a span{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    font-size: 14px;
    border-radius: 50%;
    background: $primary-color-1;
    display: inline-block;
    text-align: center;
    line-height: 15px;
    color:$common-white;
  }
  
